/* İstediğin temanın yolunu buraya yazarak anında değiştirebilirsin */
@import "/home/deces/.config/waybar/lain.css";

* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-radius: 0px;
    border: none;
}

window#waybar {
    background-color: @bg_bar;
    color: @text_main;
}

#custom-bluetooth,
#memory,
#network,
#pulseaudio,
#tray {
    padding: 10px 0px;
    margin: 4px 3px;
    background-color: @bg_module;
    color: @text_dim;
    border: 1px solid @border_module;
    transition: all 0.2s ease;
}

#custom-bluetooth:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover {
    background-color: @ws_hover_bg;
    color: @text_main;
}

#workspaces {
    margin: 4px 3px;
    background-color: @ws_bg;
    border: 1px solid @ws_border;
    border-radius: 0px;
    padding: 4px 0px;
}

#workspaces button {
    padding: 6px 0px;
    margin: 2px 0px;
    color: @ws_text;
    background-color: transparent;
    border-radius: 0px;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: @ws_active_bg;
    color: @ws_active_text;
}

#workspaces button:hover {
    background-color: @ws_hover_bg;
    color: @text_main;
}

#workspaces button.urgent {
    background-color: #ff5555;
    color: #f8f8f2;
    animation: blink 0.5s alternate infinite;
}

/* --- Yönetim Merkezi (Special Workspace) Ayarı --- */
#workspaces button.special {
    color: @text_dim;
    border: 1px dashed @border_module; /* Diğerlerinden ayrışması için kesikli çizgi */
    margin: 4px 2px;
}

#workspaces button.special.focused,
#workspaces button.special.active {
    background-color: @ws_active_bg;
    color: @ws_active_text;
    border: 1px solid @ws_active_bg;
}

#clock {
    background-color: @bg_clock;
    color: @text_main;
    padding: 10px 0px;
    margin: 4px 3px;
    border: 1px solid @border_module;
}
